<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AkaiGrid - Anilist Auth Finished</title>
    <script>
        const callback = localStorage.getItem("callback");
        localStorage.removeItem("callback");

        const params = new URLSearchParams(location.hash.replace("#", ""));
        const accessToken = params.get("access_token");

        // if callback exists, redirect to it with the token and current hashtag
        if (callback) {
            const redirectUrl = new URL(callback);
            redirectUrl.searchParams.set("token", accessToken);
            location.href = redirectUrl.toString();
        } else {
            document.body.innerText = "No callback URL found";
        }

    </script>
</head>
<body></body>
</html>
