<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AkaiGrid - Redirecting to AniList...</title>
    <script>
        const params = new URLSearchParams(location.search);
        const callback = params.get("callback");
        if (callback) {
            localStorage.setItem("callback", callback);
            const authUrl = <%- JSON.stringify(authURL) %>;
            location.href = authUrl;
        } else {
            document.body.innerText = "No callback URL provided";
        }
    </script>
</head>
<body></body>
</html>
